.page.theme_light {
  --main-bg-color: #fff1f7;
  --main-bg-img: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --title-text-color: #ffc2e6;
  --content-title-color: #353430;
  --main-accent-color: #ff8dcb;
  --accent-contrast-text-color: #353430;
  --brackets-сolor: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
}

.theme_light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff1f7;
    --main-bg-img: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --title-text-color: #ffc2e6;
    --content-title-color: #353430;
    --main-accent-color: #ff8dcb;
    --accent-contrast-text-color: #353430;
    --brackets-сolor: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
  }

  .header__decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width < 1024px) {
  :root {
    --title-shadow-color: #ff8dcb;
  }
}

@media (width < 1024px) {
  .page.theme_light {
    --title-shadow-color: #ff8dcb;
  }
}
