:root {
  --main-font-family: "IBM Plex Mono";
  --main-bg-color: #000028;
  --main-bg-img: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --title-shadow-color: #ff0070;
  --main-accent-color: #ff0070;
  --content-title-color: #ff0070;
  --accent-contrast-text-color: #000028;
  --brackets-—Åolor: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
}
